@charset "utf-8";
h1 {
	margin: 25px;
	text-align: center;
}
p {
	margin-left: 25px;
	text-align: center;
}
.ServiceButtons {
	padding: 10px;
	
	margin-left: 32%;
	margin-right: 20%;
	margin-top: 50px;
}
.Snow {
	margin-left: 25px;
	margin-right: 25px;
}
.Power {
	margin-left: 25px;
	margin-right: 25px;
}

.Cars {
	margin-left: 25px;
	margin-right: 25px;
}

.Weed {
	margin-left: 25px;
	margin-right: 25px;
}



