@charset "utf-8";
head {
	box-align: center
}
.Snow {
	margin-left: 25px;
	margin-right: 25px;
}
.Power {
	margin-left: 25px;
	margin-right: 25px;
}

.Cars {
	margin-left: 25px;
	margin-right: 25px;
}

.Weed {
	margin-left: 25px;
	margin-right: 25px;
}



